*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    padding: 0px 0;
    color:white;
}
.wrap{
    width: 1140px;
    margin: 0px auto;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-up{
    color: rgb(145, 144, 144);
}
.right
{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.menu{
    background-color: #0F0F0F;
    color:white;
}
.menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.button
{
 background-color: #1F1F1F;
 color: white;
 width: 136px;
 height: 80px;
 border-style: none;
 margin: 4px 2px;
}
.disabled
{
background-color: #0F0F0F;
color: #969696;
}
.promo{
    background-color: blanchedalmond;  
}
.promo-wrap{
    background-image: url(/img/promo.png);
    min-height: 810px;
    min-width: 1920px;
    color: white;
    text-align: center;  
}
.rectangle{
    background-image: url(../img/rectangle.png);
    width: 320px;
    height: 320px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 150px;
    margin-bottom: 200px;
}
.imagetext{  
    font-family: PT Sans;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    width: 730px;
    height: 96px;
    margin-left: 595px;
}
.imagetext1{
    font-size: large; 
    padding-top: 40px;
    width: 471px;
    height: 173px;
    text-align: center;
    margin-left: 285px;
    padding-bottom: 30px;


}
.categories
{
    display: flex;
    flex-wrap: wrap;
    width: 1920px;
    height: 730px;
}
.center
{
    display: center;
   align-items: center;
   justify-content: center;
}
.data
{
    font-family: cursive;
}
.seasontxt
{
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    padding-top: 93px;
}
.line{
    background-image: url(../img/Line.png);
    width: 120px;
    height: 1px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;  
}
.season{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-left: 65px;
    padding-right: 65px;
}
.season-wrap{
    background-image: url(/img/new-season.png);
    color:white;
    width: 1040px;
    height: 730px; 
    text-align: center;
    
}
.watch-item{
    width: 260px;
    height: 405px;
    display: flex;
    justify-content: center;
}
.season-watch{
    background-image: url(../img/watchrec.png);
    width: 260px;
    height: 325px;
    color: white;
    
}
.watch
{
    background-image: url(../img/watch.png);
    width: 215px;
    height: 214px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20%;
    margin-bottom: 110px;
}
.price
{
    text-align: left;
    font-size: 25px;
    font-family: Lucida Sans Regular;
}
.collection-wrap{
    background-image: url(/img/new-collection.png);
    width: 880px;
    height: 730px;
    color: white;
}
.d{
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin-top: 484px;

}
.line1{
    background-image: url(../img/Line.png);
    width: 120px;
    height: 1px;
    margin-top: 558px;
    margin-left: auto;
    margin-right: auto;  
}
.button-image 
{
    background-color: transparent;
    color: white;
    min-width: 138px;
    min-height: 47px;
    border: 2px solid white;
    margin-top: 30px;
    margin-left: 371px;
    margin-right: 371px; 
    text-align: center;

}
.button-imagetext
{
    font-family: PT Sans;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 28px;
    margin-right: 28px;
}
.colection2018
{
    display: flex;
    flex-wrap: wrap;
    width: 1920px;
    height: 600px;
}
.cbimage{
    background-image: url(../img/cbimage.png);
    width: 880px;
    height: 600px;
}
.colec2018{
    background-image: url(../img/colection2018.png);
    width: 1040px;
    height: 600px;
    color: white;
    text-align: center;
}
.text
{
    margin-top: 100px;
}

.receipts{
    width: 1920px;
    height: 1289px;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
}
.receipts-collection
{
   height: 850px;
   width: 1110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 81px;
    left: 405px;
    right: 405px;
    bottom: 150px; 
}
.brend
{
    width: 1920px;
    height: 362px;
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center; 
}
.item-brand{
    width: 1100px;
    height: 101px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 405px;
    margin-top: 40px;
}
.brand
{
   background-image: url(../img/brand.svg);
   width: 255px;
   height: 94px;
}
.feature{
    background-image: url(../img/feature.png);
    width: 1920px;
    height: 400px;
    color: white;   
}
.feature-item
{
    width: 1100px;
    height: 219px;
    padding-left: 405px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;

}
.text-inf{
    font-family: Playfair Display;
    font-size: 24px;
    width: 350px;
    height: 219px;
      
}
.inf
{
    width: 350px;
    height: 147px;
    font-family: PT Sans;
    font-size: 14px;
    padding-top: 40px;
    
}
.buttons
{
    background-color: rgb(22, 22, 22);
    color: white;
    min-width: 70px;
    min-height: 41px;
    margin-top: 40px;
    border-style: none;
}
.text-buttons{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.feedback-button{
    padding-top: 37px;
}
.feedback-text{
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid black;
    width: 210px;
    height: 42px;

}
::-webkit-input-placeholder {color:#969696;}
.feedback-submit{
    background-color: black;
    width: 140px;
    height: 46px;
    color: white;
    border-style: none;
    margin-left: -8px;
}
.fooooooter{
    width: 1920px;
    height: 50px;
    background-color: #0F0F0F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.fooooooter-left
{
    margin-left: 405px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.fooooooter-right
{
    margin-right: 405px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
}

